.venv
.ipynb_checkpoints
data
whisper-small-german
app.log
audio
images
audio_df_umlauts.csv
audio_df.csv
finetune 2 accelerate.ipynb
finetune_ubelix.ipynb
finetune_ubelix.py
finetune.ipynb
run_script_on_ubelix.sh


